@media (max-width: 754px) {
	#title {
		text-align: center;
	}
	#information {
		justify-content: center;
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	}
	#countdownInterval, #countdownTimer {
		justify-content: center;
	}

}
body {
	font: 25px "Open Sans Condensed", sans-serif;
	margin: 20px;
}
input {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 30px;
	border  : none;
	padding : 0;
	margin  : 0 5px;
	width   : 40px;
	text-align: center;
}
button {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 30px;
	background-color: white;
	border: 1px solid black;
	padding: 5px;
	margin: 5px 0;
	cursor: pointer;
	width: 180px;
}
button:hover {
	background-color: #DDDDDD;
}
#container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
/*	align-items: center;*/
}
#information div{
	display: flex;
	/*justify-content: center;*/
}
#information {
	margin: 20px;
}
#title {
	font-weight: bold;
	font-size: 40px;
	max-width: 360px;
}
#inputTime, #inputInterval {
	align-items: center;
}
#countdownInfo, #userInput {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
}
#userInput {
	display: flex;
	flex-direction: column;
	width: 180px;
}
#countdownInfo {
	width: 180px;
}
/*#visualCountdown {
	display: flex;
	flex: 1;
}*/
button i {
	margin-right: 10px;
}
div i, div img {
	/*margin-right: 5px;*/
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
    cursor: text;
}

button, input {
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
}